 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 21px;
  height: 260px;
  margin-bottom: 0;
}

.u-block-7a32-11 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -194px 1px 0 auto;
  padding: 21px 151px 22px 150px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 1px 0 auto;
  padding: 21px 151px 22px 150px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 1px 0 auto;
  padding: 21px 151px 21px 150px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 1px 0 auto;
  padding: 21px 151px 22px 150px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: 0 1px 60px auto;
  padding: 22px 151px 22px 150px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
    padding-left: 121px;
    padding-right: 121px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 122px;
    padding-left: 120px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    padding-right: 121px;
    padding-left: 120px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    padding-right: 121px;
    padding-left: 120px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    padding-left: 121px;
    padding-right: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-top: -193px;
    padding-right: 82px;
    padding-bottom: 21px;
    padding-left: 81px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding-right: 82px;
    padding-left: 81px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 21px;
    padding-left: 71px;
    padding-right: 71px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 82px;
    padding-left: 81px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 21px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 713px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 7px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -324px;
    margin-right: 13px;
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 13px;
    padding-right: 40px;
    padding-left: 39px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 13px;
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 13px;
    padding-left: 43px;
    padding-right: 43px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 14px;
    padding-right: 44px;
    padding-left: 42px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 0;
    padding-right: 21px;
    padding-left: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -344px;
    margin-right: 0;
    padding-top: 22px;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    padding: 28px 17px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 6px;
    margin-right: 0;
    padding-left: 17px;
    padding-right: 17px;
  }
}